<div class="card m-3" >
    <div class="search-header p-2">
       Competitor Stratergy
     <!-- <span class="info-icon">(i)</span> -->
    </div>
  
    <div class="form-group">
     <form [formGroup]="StratergySearchFormControl" (ngSubmit)="StratergySubmit()" class="p-2"   >
        <input class="form-control" formControlName="search" type="text"  style="font-size: small;"  placeholder="Search"  aria-label="Search">
        <button class="btn btn-primary mt-2" style="   font-size: small;" type="submit" >Search</button>
     </form>
    </div>
</div>
