.service-section{
    width: 100%;
  
}
.service-box-image{
   text-align: center;
   margin: 10px;
}
.service-img-box img{
   
   padding: 10px;
   margin: 10px;
   justify-content: center;
   height: 100px;
  ;
}
p{
   text-align: center;
}
.row{
 
   display: inline-block;
   margin-left: 25px;
}
.service-box{
   margin: 10px;
   box-shadow: 100px;
}
