

<div class="page_box"><h2 style="margin-left: 3rem; padding: 3px;">Dashboard</h2></div>
    <div class="page_content ">
        <div class="page_content-data">
            Dashboard Content Goes here
        </div>
</div>
<!-- <div class="card">
    <div class="card-head"> Lorem ipsum - dashboard</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi distinctio delectus cupiditate consectetur aliquid voluptate, eos quo quibusdam pariatur esse!
    </div>
</div> -->
