.active{
    background-color: rgb(63, 63, 131);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 8px;
 }
 a{
    text-align: center;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 8px;
 }
 .content{
   
    background:  #ebe9e9;
    width: 100%;
    padding: 5px;
    margin-top: 0;
 }
 .form-control{
    width: 14rem;
  }
  .loader-container{
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
    z-index: 200;
    margin: 0;
    padding: 0;
}
.mat-mdc-header-row{
   text-align: center;     
   background-color: rgb(63, 63, 131);
   color: white;
   font-weight: bold;
   word-spacing: 2px;
  }