

<div class="text-center">


<div class="m-2 content"  >
    <div class="row" style="padding: 2%;">
      <div class="col-md-4 d-flex align-items-center">
       <h4 style="margin:10px;">Market Search</h4>
      </div>
      <div class="col-md-8 d-flex justify-content-end align-items-center">
        <!-- [formGroup]="searchKeywordForm"
        (ngSubmit)="handleSubmit()" -->
        <form [formGroup]="marketSearchForm" (ngSubmit)="handleSubmit()" class="d-flex w-100 justify-content-end">
          <input
            class="form-control me-2 "
            formControlName="search"
            type="text"
            style="font-size: mdall; "
            placeholder="Search"
            aria-label="Search"
          />
          <button
            class="btn btn-outline-primary"
            style="font-size: mdall; "
            type="submit"
            
          >
            Search market
          </button>
        </form>
      </div>
    </div>
</div>
</div>
<!--  -->
<div class="m-2 text-center"  style="position: relative;"  >
    <div  *ngIf="searchData && searchData.Brand_list; else noReviews" class="row m-2">
        
        <div *ngIf="loadingService.isParentLoading | async" class="loader-container">
            <mat-progress-bar mode="determinate"></mat-progress-bar>
            <mat-spinner style="top: 25%; left: 46%"></mat-spinner>
          </div>
            <div class="col mt-1" >
          
              <div class="row" >
                  <div class="col-md-3"  style="border: 1px solid #ddd; ">
                    <a [routerLink]="[{ outlets: { content: ['search-result'] } }]" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }" >Market Trend & News</a>
                  </div>
               
                  <div class="col-md-3" style="border: 1px solid #ddd; ">
                    <a [routerLink]="[{ outlets: { content: ['market-leader'] } }]" routerLinkActive="active"[routerLinkActiveOptions]="{ exact: true }" >Market Leader</a>
                  </div>
                  <div class="col-md-3" style="border: 1px solid #ddd; ">
                    <a [routerLink]="[{ outlets: { content: ['innovation'] } }]" routerLinkActive="active"[routerLinkActiveOptions]="{ exact: true }" >Innovation</a>
                  </div>
                  <div class="col-md-3" >
                 
                  </div>
              </div>
            

            </div>
            <div class="col">
            
              <!-- <app-bcg-matrix ></app-bcg-matrix> -->
            </div>
          
            <div class="" style="margin-top: 20px;">
              <router-outlet name="content"></router-outlet>
            </div>
    </div>

    <ng-template   #noReviews>
        <div *ngIf="loadingService.isParentLoading| async" class="loader-container">
          <mat-progress-bar mode="determinate"></mat-progress-bar>
          <mat-spinner style="top: 25%; left: 46%"></mat-spinner>
        </div>
        <p style="padding: 10%">No Product Data available.</p>
    </ng-template>
    

</div>
