<h2 mat-dialog-title >Sentiment Chart</h2>

<mat-dialog-content class="mat-typography">
    <div class="chartCard">
    
        <div class="chartBox">
            
                <canvas #barChart></canvas>
           
        </div>
    
    </div>

</mat-dialog-content>

<mat-dialog-actions  align="end">
    <button mat-button mat-dialog-close>close</button>
</mat-dialog-actions>

<!-- <div class="chart-container" style="width: 800px; margin-left: 250px;margin-top: 30px;">
<div style="display: block;">
    <canvas #barChart></canvas>
  </div>
</div> -->