
<!-- <select style="position: relative; ;margin-left: 44%; margin-top: 6%;" (change)="onChange($event)">
     <option value="select">Select</option>
    <option value="nav">Navigation</option>
    <option value="dashboard">Dashboard</option>
  </select>
     <ngx-ui-loader></ngx-ui-loader>
     Welcome page -->
    <!-- <div *ngIf="selectedOption=='nav'">
   
        <app-home style="margin-top: 200px;"></app-home>
       
    </div> 
    
   
    <div *ngIf="selectedOption=='dashboard'" >
        <app-sidenav   (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav> 
        <app-body  [collapsed]="isSideNavCollapsed"[screenWidth]="screenWidth"></app-body>
    </div> 
 -->
    <!-- <ngx-ui-loader></ngx-ui-loader> -->
    <router-outlet></router-outlet>
