.example-container {
    height: 500vh;
    width: 1400px;
    max-width: 100%;
    overflow: auto;
  }
  
.mat-mdc-header-row{
    text-align: center;     
    background-color: rgb(63, 63, 131);
    color: white;
    font-weight: bold;
    word-spacing: 2px;
 } 

 .headers{
  text-align: center;     
  background-color: rgb(63, 63, 131);
  color: white;
  font-weight: bold;
  word-spacing: 2px;
 }

 .table{
  width: inherit;
 }

 .table-primary{
    background-color: #0d6efdcf !important;
    color: white;
    font-weight: bold;
    word-spacing: 2px;
    
 } 
 .mat-column-Features{
  border-right: 1px solid #ddd;
   
  width: 200px;
 }
 .mat-column-productA {
    
   border-right: 1px solid #ddd;
   
   width: 200px;
 } 
 .mat-column-productB {
    
   border-right: 1px solid #ddd;
   width: 200px;
 } 
 .mat-column-productC {
    
   border-right: 1px solid #ddd;
   
 } 
 .mat-column-productD {
    
   border-right: 1px solid #ddd;
 
 } 

 .mat-column-productD {
    
  border-right: 1px solid #ddd;
  
  width: 200px;
} 
.mat-column-productE {
    
  border-right: 1px solid #ddd;
  
  width: 200px;
} 
.mat-column-productF {
    
  border-right: 1px solid #ddd;
  
  width: 200px;
} 
.mat-column-productG {
    
  border-right: 1px solid #ddd;
  
  width: 200px;
} 
.mat-column-productH {
    
  border-right: 1px solid #ddd;
  
  width: 200px;
} 
.mat-column-productI {
    
  border-right: 1px solid #ddd;
  
  width: 200px;
} 
.mat-column-productJ {
    
  border-right: 1px solid #ddd;
  
  width: 200px;
} 
 
 .table-primary{
  width: 200px;
 }
