// /* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: #2124B1;
    --secondary: #4777F5;
    --light: #F7FAFF;
    --dark: #1D1D27;
    --body-font-size: 0.875rem;
}

$primary: #2124B1;
$secondary: #4777F5;
$light: #F7FAFF;
$dark: #1D1D27;

$font-family-base: 'Heebo', sans-serif;

$headings-font-family: 'Roboto', sans-serif;

$body-bg: #F3F6FF;

$body-color: #888888;

$headings-color: $dark;

$display-font-weight: 700;

$enable-responsive-font-sizes: true;

$border-radius: 10px;

$link-decoration: none;

$enable-negative-margins: true;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --clr: #083d41;
}
body{
   
    margin: 0;
    position: relative;
    font-family: 'Courier New', Courier, monospace  ;
    font-size: var(--body-font-size,14px);
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 1.25rem 0;
    box-shadow: 0 .25rem .5rem #acb2b3;
   

    .card-head{
       padding: 1rem 1.5rem;
       border-bottom: 1px solid #edf1f7;
       font-size: var(--body-font-size,14px);
        font-weight: 600;;
    }
    .card-body{
        padding: 1rem 1.5rem;
    }
}
html, body { height: 100%; }


// snakbar error css
.black-snackbar{
    background: black !important;
    color: white !important;
}
// snackbar error css
.red-snackbar{
    // background-color: rgb(236, 8, 8) !important;
    // color: white !important;
    --mdc-snackbar-container-color: red;
    --mat-mdc-snack-bar-button-color: white;
}

.green-snackbar {
    // background-color: rgb(9, 174, 9) !important;
    // color: black;
    --mdc-snackbar-container-color: green;
    --mat-mdc-snack-bar-button-color: white;
}

// html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-screen-dialog .mat-dialog-container {
    height: 80vh;
    width: 80vw;
    max-width: 100vw;
    margin: 5px;
    padding: 5px;
    border-radius: 0;
}

  .mat-dialog-container {
    height: 100vh;
    height: 80vh;
    width: 80vw;
    max-width: 100vw;
    margin: 5px;
    padding: 5px;
    border-radius: 0;
  } 


  html{
    --mdc-outlined-text-field-caret-color: #005cbb;
    --mdc-outlined-text-field-focus-outline-color: #005cbb;
    --mdc-outlined-text-field-focus-label-text-color: #005cbb;
    --mdc-outlined-text-field-label-text-color: #dddfe4;
    --mdc-outlined-text-field-hover-label-text-color: #1a1b1f;
    --mdc-outlined-text-field-disabled-label-text-color: rgba(26, 27, 31, 0.38);
    --mdc-outlined-text-field-input-text-color: #1a1b1f;
    --mdc-outlined-text-field-disabled-input-text-color: rgba(26, 27, 31, 0.38);
    --mdc-outlined-text-field-input-text-placeholder-color: #44474e;
    --mdc-outlined-text-field-error-focus-label-text-color: #ba1a1a;
    --mdc-outlined-text-field-error-label-text-color: #ba1a1a;
    --mdc-outlined-text-field-error-hover-label-text-color: #410002;
    --mdc-outlined-text-field-outline-color: #74777f;
    --mdc-outlined-text-field-disabled-outline-color: rgba(26, 27, 31, 0.12);
    --mdc-outlined-text-field-hover-outline-color: #1a1b1f;
    --mdc-outlined-text-field-error-focus-outline-color: #ba1a1a;
    --mdc-outlined-text-field-error-hover-outline-color: #410002;
    --mdc-outlined-text-field-error-outline-color: #ba1a1a;
    --mdc-outlined-text-field-label-text-font: Roboto, sans-serif;
    --mdc-outlined-text-field-label-text-size: 1rem;
    --mdc-outlined-text-field-label-text-tracking: 0.031rem;
    --mdc-outlined-text-field-label-text-weight: 400;
    --mdc-outlined-text-field-outline-width: 1px;
    --mdc-outlined-text-field-focus-outline-width: 2px;
    --mdc-outlined-text-field-container-shape: 4px;
    }

    .read-more-animation {
        transition: all 0.3s ease;
    }



    /* Tooltip container */


    // .MyTooltip {
    //     position: relative;
    //     display: inline-block;

    //     visibility: visible;
    //     width: 8rem;
    //     background-color: gray;
    //     color: #fff;
    //     text-align: center;
    //     padding: 5px 0;
    //     border-radius: 6px;
    //     z-index: 1; 
    // }

    // .MyTooltip:before{
    //     content: '';
    //     position: absolute;
    //     bottom: 100%;
    //     left: 50%;
    //     margin-left: -5px;
    //     border-width: 5px;
    //     border-style: solid;
    //     border-color: transparent transparent #f1f1f1 transparent;

    // }

    // .MyTooltip.show {
    //     visibility: visible;
    //     opacity: 1;
    // }


    .ng-tooltip {
        position: absolute;
        max-width: 150px;
        font-size: 14px;
        text-align: center;
        color: #f8f8f2;
        padding: 3px 8px;
        background: #282a36;
        border-radius: 4px;
        z-index: 1000;
        opacity: 0;
      }
      .ng-tooltip:after {
        content: "";
        position: absolute;
        border-style: solid;
      }
      .ng-tooltip-top:after {
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-color: black transparent transparent transparent;
      }
      .ng-tooltip-bottom:after {
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-color: transparent transparent black transparent;
      }
      .ng-tooltip-left:after {
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-color: transparent transparent transparent black;
      }
      .ng-tooltip-right:after {
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-color: transparent black transparent transparent;
      }
      .ng-tooltip-show {
        opacity: 1;
      }